
body{/*Adjust the overall page*/

font-family: 'Luckiest Guy', cursive; /*Changes the font to use 'Luckiest Guy'*/
letter-spacing: 0.2em; /*Adjust the space between the letters*/
margin: 0%;


}

#doggy{/*Adjust the div that has the dog video and title inside*/

}

#doggy {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#doggy video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video stays behind the content */
}


#title{/*Adjust the div that has the title inside of it*/

}

    h1{
        font-size: 8vw;}

    h2{
        font-size: 5vw;
    }

    p{
        font-size: 4.5vw;
    }

#fact-section{/*The fact that will be updated with the API*/

}

#img{/*The img section that will be updated with the API*/

}

button{/*The button to go back to the dog screen*/

    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.1em; /*Adjust the space between the letters*/
}





.luckiest-guy-regular {/*The adjustments for the font itself*/
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    
  }


